# Define the data path where your backup will be availables
DATA_PATH=./appData

# Define the username and password pour the user
# This stack only manage one user (see readme for more information)
USERNAME=Timemachine
PASSWORD=Timemachine

# Define the contenaier name. It can be whatever you want if the name is not already use in your Docker
CONTAINER_NAME=timemachine